<p id="notice" class="alert alert_success">
  <%= notice %>
</p>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to "編集", edit_user_path(@user), class:"btn edit-btn"%>

<%= link_to "削除", users_path, method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？"%>
