<p id="notice" class="alert alert_success">
  <%= notice %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Bought date:</strong>
  <%= @item.bought_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @item.comment %>
</p>

<%= link_to "編集", edit_item_path, class:"btn edit-btn"%>

<%= link_to "削除", items_path, method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？"%>
